<ul class="nav nav-pills top-menu" role="menu">
  <li><a href="/binning">Binning</a></li>
  <li><a href="/clustering">Clustering</a></li>
  <li><a href="/algorithms">Algorithms</a></li>
  <li class="active"><a href="#">About</a></li>
</ul>


<div class="page-header">
  <h1>About</h1>
</div>
<%= image_tag "clustering.png", {height: 300} %>

