<ul class="nav nav-pills top-menu" role="menu">
  <li><a href="/binning">Binning</a></li>
  <li><a href="/clustering">Clustering</a></li>
  <li class="active"><a href="#">Algorithms</a></li>
  <li><a href="/about">About</a></li>
</ul>


<div class="page-header">
  <h1>Algorithms description</h1>
</div>