<ul class="nav nav-pills top-menu" role="menu">
  <li><a href="#">Binning</a></li>
  <li><a href="/clustering">Clustering</a></li>
  <li><a href="/algorithms">Algorithms</a></li>
  <li><a href="/about">About</a></li>
</ul>

<div class="page-header">
  <h1>Binning</h1>
</div>

<div class="tab-content">
    <%= form_tag(binning_path) do %>
    <table id="params" class="table">
      <tr>
        <td>
          <h3>Choose number of bins</h3>
          <%= text_field_tag :bins, @bins %><br/>

          <h3>Choose medicines group</h3>
          <%= select_tag(:medicine_group, options_for_select(@categories, :selected => @medicine_group), :class => 'form-control') %>


          <h3>Binning method</h3>
          <%= radio_button_tag(:binning, "equal-width", (@binning=="equal-width")) %>
          <label for="binning_equal-width">Equal Width</label><br/>
          <%= radio_button_tag(:binning, "equal-freq", (@binning=="equal-freq")) %>
          <label for="binning_equal-freq">Equal frequency</label>

          <h3>Time unit</h3>
          <%= radio_button_tag(:time_unit, "day", (@time_unit=="day")) %>
          <label for="time_unit_day">Day</label><br/>
          <%= radio_button_tag(:time_unit, "week", (@time_unit=="week")) %>
          <label for="time_unit_week">Week</label><br/>
          <%= radio_button_tag(:time_unit, "month", (@time_unit=="month")) %>
          <label for="time_unit_month">Month</label>


          <h3>Lag</h3>
          <%= text_field_tag :lag, @lag %><br/>

        </td>
        <td>
          <h3>Choose the arguments for clustering</h3>
          <table id="weather" class="table table-striped">
            <tr>
              <td><%= radio_button_tag(:weather_param, "Temperature", (@weather_param=="Temperature")) %>
                <label for="weather_param_temperature">Temperature</label></td>
            </tr>
            <tr>
              <td><%= radio_button_tag(:weather_param, "Humidity", (@weather_param=="Humidity")) %>
                <label for="weather_param_humidity">Humidity</label></td>
            </tr>
            <tr>
              <td><%= radio_button_tag(:weather_param, "Air pressure", (@weather_param=="Air pressure")) %>
                <label for="weather_param_air_pressure">Air pressure</label></td>
            </tr>
            <tr>
              <td><%= radio_button_tag(:weather_param, "Wind speed", (@weather_param=="Wind speed")) %>
                <label for="weather_param_wind_speed">Wind speed</label></td>
            </tr>
            <tr>
              <td><%= radio_button_tag(:weather_param, "Precipitation", (@weather_param=="Precipitation")) %>
                <label for="weather_param_precipitation">Precipitation</label></td>
            </tr>
            <tr>
              <td><%= radio_button_tag(:weather_param, "UV index", (@weather_param=="UV index")) %>
                <label for="weather_param_uv_index">UV index</label></td>
            </tr>
            <tr>
              <td><%= radio_button_tag(:weather_param, "Light", (@weather_param=="Light")) %>
                <label for="weather_param_light">Light</label></td>
            </tr>
            <tr>
              <td><%= radio_button_tag(:weather_param, "Irradiation flux", (@weather_param=="Irradiation flux")) %>
                <label for="weather_param_irradiation_flux">Irradiation flux</label></td>
            </tr>
            <tr>
              <td><%= radio_button_tag(:weather_param, "Gamma radiation", (@weather_param=="Gamma radiation")) %>
                <label for="weather_param_gamma_radiation">Gamma radiation</label></td>
            </tr>

          </table>
        </td>
      </tr>
    </table>
    <%= submit_tag("Generate") %>
  <% end %>

  <% if @show_pictures %>
      <% for i in [1,2,3,4] %>
          <div id="chart-div">
            <%= image_tag "family#{i}.png", {width: 1000} %>
            <table class="table">
            <% for medicine in @medicine_family[i-1] %>
                <tr>
                  <td>
                    <%= link_to "#{medicine[0]}", "http://www.whocc.no/atc_ddd_index/?code=#{medicine[0]}", :class => 'btn btn-primary' %>
                  </td>
                  <td>
                    <%= medicine[1] %>
                  </td>
                </tr>
            <% end %>
            </table>
          </div>
      <% end %>
  <% end %>

</div>