<ul class="nav nav-pills top-menu" role="menu">
  <li><a href="/binning">Binning</a></li>
  <li><a href="/#">Clustering</a></li>
  <li><a href="/algorithms">Algorithms</a></li>
  <li><a href="/about">About</a></li>
</ul>

<div class="page-header">
  <h1>Clustering</h1>
</div>
<h3 style="display:inline-block; background:rgba(255,0,0,0.1); color:red;"><%= flash[:message] %></h3>
<div class="tab-content">
  <%= form_tag do %>
      <table id="params" class="table">
        <tr>
          <td>

            <h3>Choose medicines group</h3>
            <%= select_tag(:medicine_group, options_for_select(@categories, :selected => @medicine_group), :class => 'form-control') %>

            <h3>Clustering method</h3>
            <table class="table">
              <tr>
                <td>
                  <%= radio_button_tag(:clustering, "kmeans", (@clustering=="kmeans")) %>
                  <label for="binning_equal-width">K-means</label>
                </td>
                <td>


                  <%= label_tag 'clusters', 'Number of clusters' %> <br/>
                  <%= text_field_tag :clusters, @clusters %><br/>

                </td>
              </tr>
              <tr>
                <td>
                  <%= radio_button_tag(:clustering, "dbscan", (@clustering=="dbscan")) %>
                  <label for="binning_equal-freq">DBscan</label>
                </td>
                <td>
                  <%= label_tag 'alpha', 'Alpha' %> <br/>
                  <%= text_field_tag :alpha, @alpha %><br/>
                  <%= label_tag 'minPts', 'min PTS' %> <br/>
                  <%= text_field_tag :minPts, @minPts %>

                </td>
              </tr>
              <tr>
                <td>
                  <h3>Time unit</h3>
                  <%= radio_button_tag(:time_unit, "day", (@time_unit=="day")) %>
                  <label for="time_unit_day">Day</label><br/>
                  <%= radio_button_tag(:time_unit, "week", (@time_unit=="week")) %>
                  <label for="time_unit_week">Week</label><br/>
                  <%= radio_button_tag(:time_unit, "month", (@time_unit=="month")) %>
                  <label for="time_unit_month">Month</label>
                </td>
              </tr>
            </table>


          </td>
          <td>
            <h3>Choose the arguments for clustering</h3>
            <table id="weather" class="table table-striped">
              <tr>
                <td><%= check_box_tag("weather_param[Temperature]") %>
                  <label for="weather_param_temperature">Temperature</label></td>
              </tr>
              <tr>
                <td><%= check_box_tag("weather_param[Humidity]") %>
                  <label for="weather_param_humidity">Humidity</label></td>
              </tr>
              <tr>
                <td><%= check_box_tag("weather_param[Air.pressure]") %>
                  <label for="weather_param_air_pressure">Air pressure</label></td>
              </tr>
              <tr>
                <td><%= check_box_tag("weather_param[Wind.speed]") %>
                  <label for="weather_param_wind_speed">Wind speed</label></td>
              </tr>
              <tr>
                <td><%= check_box_tag("weather_param[Precipitation]") %>
                  <label for="weather_param_precipitation">Precipitation</label></td>
              </tr>
              <tr>
                <td><%= check_box_tag("weather_param[UV.index]") %>
                  <label for="weather_param_uv_index">UV index</label></td>
              </tr>
              <tr>
                <td><%= check_box_tag("weather_param[Light]") %>
                  <label for="weather_param_light">Light</label></td>
              </tr>
              <tr>
                <td><%= check_box_tag("weather_param[Irradiation.flux]") %>
                  <label for="weather_param_irradiation_flux">Irradiation flux</label></td>
              </tr>
              <tr>
                <td><%= check_box_tag("weather_param[Gamma.radiation]") %>
                  <label for="weather_param_gamma_radiation">Gamma radiation</label></td>
              </tr>

            </table>
          </td>
        </tr>
      </table>
      <%= submit_tag("Generate") %>
  <% end %>

  <% if @show_pictures %>
      <% for i in [1,2,3,4] %>
          <div id="chart-div">
            <%= image_tag "family#{i}.png", {width: 1000} %>
            <table class="table">
              <% for medicine in @medicine_family[i-1] %>
                  <tr>
                    <td>
                      <%= link_to "#{medicine[0]}", "http://www.whocc.no/atc_ddd_index/?code=#{medicine[0]}", :class => 'btn btn-primary' %>
                    </td>
                    <td>
                      <%= medicine[1] %>
                    </td>
                  </tr>
              <% end %>
            </table>
          </div>
      <% end %>
  <% end %>

</div>