<ul class="nav nav-pills top-menu" role="menu">
  <li class="active"><a href="/binning">Home</a></li>
  <li><a href="/algorithms">Algorithms</a></li>
  <li><a href="/about">About</a></li>
</ul>

<div class="page-header">
  <h1>Main</h1>
</div>

<ul class="nav nav-tabs" id="tabs">
  <li class="active"><a href="#clustering" data-toggle="tab">Clustering</a></li>
  <li><a href="#binning" data-toggle="tab">Binning</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="clustering">

    <table id="params">
      <tr>
        <td>
          <h3>Choose clustering method</h3>
          <select id="clustering">
            <option value="kmeans">K-means</option>
            <option value="som">SOM</option>
          </select>

          <h3>Choose medicines group</h3>

          <select id="medicine">
            <option value="1">Nervous system</option>
            <option value="2">Antibiotics</option>
          </select>
        </td>
        <td>
          <h3>Choose the arguments for clustering</h3>
          <table id="weather">
            <tr>
              <td><input type="checkbox" value="Temperature"> Temperature</td>
            </tr>
            <tr>
              <td><input type="checkbox" value="Humidity">Humidity</td>
            </tr>
            <tr>
              <td><input type="checkbox" value="Air pressure">Air pressure</td>
            </tr>
            <tr>
              <td><input type="checkbox" value="Wind speed">Wind speed</td>
            </tr>
            <tr>
              <td><input type="checkbox" value="Precipitation">Precipitation</td>
            </tr>
            <tr>
              <td><input type="checkbox" value="UV index">UV index</td>
            </tr>
            <tr>
              <td><input type="checkbox" value="Light">Light</td>
            </tr>
            <tr>
              <td><input type="checkbox" value="Irradiation">Irradiation flux</td>
            </tr>
            <tr>
              <td><input type="checkbox" value="Gamma radiation">Gamma radiation</td>
            </tr>

          </table>
        </td>
      </tr>
    </table>
  </div>

  <%= @res %>

  <div id="chart-div">
    <%= image_tag "img.png", {width: 1000} %>
  </div>


  <script type="text/javascript">

  $(document).ready(function(){
       //root = $("#chart-div")
       //img = $('<img src="assets/images/img.png">')
       //root.append(img)
      /*var invoked = window.invoked;
      if(invoked === undefined){
          window.invoked = true;
      } else {
          return
      }
      width = 500
      data = <%= @data %>
      n = data.length

      var vis = new pv.Panel()
              .width(500)
              .height(250)
              .canvas(document.getElementById('chart-div'));

      vis.add(pv.Rule)
              .data(pv.range(0, 2, .2))
              .bottom(pv.range(0, 2, .2))
              .add(pv.Label);

      bar_width = width/n
      vis.add(pv.Bar)
              .data(data)
              .width(bar_width * 0.9)
              .height(function(d) d * 250)
      .bottom(0)
              .left(function() this.index * bar_width)
      .anchor("bottom").add(pv.Label);

      vis.render();*/
  })
</script>

</div>
  <div class="tab-pane" id="binning">...</div>
</div>
